.anniversary-container {
  padding: 24px;
  margin-bottom: 80px;
  background-color: #fffaf6;
}

.anniversary-box {
  background: #fffdfc;
  border-radius: 16px;
  padding: 26px 24px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.anniversary-box:hover {
  transform: translateY(-2px);
}

.anniversary-box h3 {
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-family: "Pretendard-Bold", sans-serif;
  color: #222;
}



.anniversary-box .date {
  font-size: 14px;
  color: #bbaaaa;
  margin-top: 2px;
  font-family: "Pretendard-Medium", sans-serif;
}

.dday-box {
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(90deg, #ffd6d4, #ffc0c2);
  padding: 12px 0;
  text-align: center;
  border-radius: 12px;
  color: #aa3030;
  font-family: "Pretendard-Bold", sans-serif;
  margin-top: 12px;
}
