.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  gap: 16px;
  padding: 16px;
  margin-bottom: 70px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
}

.product-name {
  font-size: 14px;
  margin-top: 8px;
  color: #111;
}

.product-price {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
