.banner {
  position: relative;
  width: 100%;
  max-width: 500px;
  max-height: 620px;
  height: auto;
  overflow: hidden;
  
}

.banner-bg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 10%;
  left: 58%;
  color: white;
  font-family: "Pretendard-Bold", sans-serif;
}

.banner-text h1 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 600;
  margin: 0;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.banner-button {
  position: absolute;
  left: 50px;
  margin-top: 270px;
  width: 140px;
  height: 140px;
  background: rgba(255, 216, 216, 0.8); /* 반투명 배경 */
  backdrop-filter: blur(8px); /* 유리 느낌 */
  -webkit-backdrop-filter: blur(8px);
  color: #333;
  font-size: 18px;
  border: none;
  border-radius: 50%; /* 원형 */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height:28px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Pretendard-Bold", sans-serif;
  transition: transform 0.2s ease;
  font-family:"Pretendard-Bold","Pretendard-Medium",  "Pretendard-Regular", "Pretendard-Light","Pretendard-SemiBold",sans-serif;
}

.banner-button:hover {
  background-color: #ffcfdc;
}
